$dashboard-color--title:   $color--text-strong !default;
$dashboard-color--caption: $color--text-strong !default;

.Dashboard {
  &__Header {
    @include sp-stack($space--large);

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__HeaderInfo {
    @include sp-inline($space--large);

    display: flex;
    align-items: baseline;

    min-width: 0;
  }

  &__Title {
    @include typography-heading();
    @include sp-inline($space--small);
    
    color: $dashboard-color--title;
  }

  &__Caption {
    @include typography-caption();
    
    color: $dashboard-color--caption;

    flex: 1;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__HeaderControls {
    flex-shrink: 0;
  }

  &__Content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $space--large;

    will-change: display;

    > * {
      align-self: start;
    }
  }

  &--listLayout &__Content {
    grid-template-columns: 1fr;
  }
}
