$dashboard-color--title:   $color--text-strong !default;
$dashboard-color--caption: $color--text-strong !default;

.Dashboard {
  &__Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include sp-stack($space--large);
  }

  &__HeaderInfo {
    display: flex;
    align-items: baseline;

    min-width: 0;

    @include sp-inline($space--large);
  }

  &__Title {
    font-size: 35px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    
    color: $dashboard-color--title;

    @include sp-inline($space--small);
  }

  &__Caption {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    
    color: $dashboard-color--caption;

    flex: 1;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__HeaderControls {
    flex-shrink: 0;
  }

  &__Content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $space--large;

    will-change: display;

    > * {
      align-self: start;
    }
  }

  &--listLayout &__Content {
    grid-template-columns: 1fr;
  }
}
