$host-color--background: $color--surface !default;
$host-color--title:      $color--text-strong !default;
$host-color--app-text:   $color--text-light !default;

.Host {
  background: $host-color--background;
  
  @include sp-inset($space--large);

  &__Title {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;

    color: $host-color--title;

    @include sp-stack($space--medium);
  }

  &__App {
    display: flex;

    user-select: none;
    cursor: pointer;

    > * {
      pointer-events: none;
    }

    @include sp-stack($space--medium);

    &:last-child {
      @include sp-stack($space--none);
    }
  }

  &__AppApex {
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;

    color: $host-color--app-text;

    @include sp-inline($space--medium);
  }

  &__AppName {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;

    color: $host-color--app-text;
  }
}
