$host-color--background: $color--surface !default;
$host-color--title:      $color--text-strong !default;
$host-color--app-text:   $color--text-light !default;

.Host {
  @include sp-inset($space--large);

  background: $host-color--background;

  &__Title {
    @include typography-title();
    @include sp-stack($space--medium);

    color: $host-color--title;
  }

  &__App {
    @include sp-stack($space--medium);

    display: flex;

    user-select: none;
    cursor: pointer;

    > * {
      pointer-events: none;
    }

    &:last-child {
      @include sp-stack($space--none);
    }
  }

  &__AppApex {
    @include typography-discrete();
    @include sp-inline($space--medium);

    color: $host-color--app-text;
  }

  &__AppName {
    @include typography-body();

    color: $host-color--app-text;
  }
}
