$toggle-color--background:  $color--shade-n100 !default;
$toggle-color--border:      $color--shade-n70 !default;
$toggle-color--active-mark: $color--state-active !default;

.Toggle {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;

  cursor: pointer;
  user-select: none;

  display: flex;

  input {
    @include visually-hidden();
  }

  &__Mark {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 18px;
    height: 18px;

    background: $toggle-color--background;

    border-radius: 5px;
    border: 1px solid $toggle-color--border;

    @include sp-inline($space--small);
  
    &::after {  
      width: 10px;
      height: 10px;
  
      background: $toggle-color--active-mark;
  
      border-radius: 3px;
      border: 1px solid $toggle-color--border;
    }
  }

  input:checked ~ &__Mark::after {
    content: '';
  }
}
