@import "~normalize.css";

* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

:root {
  font-size: 16px;
}

body {
  background: #f5f5f5;
  padding: 30px;
}

.Dashboard {
  &__Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 30px;
  }

  &__HeaderInfo {
    display: flex;
    align-items: baseline;

    margin-right: 30px;

    min-width: 0;
  }

  &__Title {
    font-size: 35px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    
    color: #000;

    margin-right: 8px;
  }

  &__Caption {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    
    color: #000;

    flex: 1;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__HeaderControls {
    flex-shrink: 0;
  }

  &__Content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    will-change: display;

    > * {
      align-self: start;
    }
  }

  &--listLayout &__Content {
    grid-template-columns: 1fr;
  }
}

.Host {
  background: #FFF;
  padding: 30px;

  &__Title {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;

    color: #000;

    margin-bottom: 23px;
  }

  &__App {
    display: flex;

    margin-bottom: 23px;

    &:last-child {
      margin-bottom: initial;
    }
  }

  &__AppApex {
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;

    color: #4A4A4A;

    margin-right: 23px;
  }

  &__AppName {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;

    color: #4A4A4A;
  }
}

.Toggle {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;

  cursor: pointer;
  user-select: none;

  display: flex;

  input {
    /* visually hidden */
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__Mark {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 18px;
    height: 18px;

    background: #FFF;

    margin-right: 8px;

    border-radius: 5px;
    border: 1px solid #E5E5E5;
  
    &::after {  
      width: 10px;
      height: 10px;
  
      background: #83d22a;
  
      border-radius: 3px;
      border: 1px solid #E5E5E5;
    }
  }

  input:checked ~ &__Mark::after {
    content: '';
  }
}